  <a href="#!" data-open="exampleModal1" class="button" onclick="document.getElementById('exampleModal1').className += ' popup-active'">Add new</a>
  <div class="reveal popup-effect" id="exampleModal1" data-reveal>
    <h3>Form</h3>
    <form>
      <div class="row">
        <div class="medium-11 columns">
          <label>Name of deal
            <input type="text" placeholder="Name of deal">
          </label>
        </div>
        <div class="medium-11 columns">
          <label>Contact
            <input type="text" placeholder="Contact">
          </label>
        </div>
        <div class="medium-11 columns">
          <label>Organization
            <input type="text" placeholder="Organization">
          </label>
        </div>
        <div class="medium-11 columns">
          <label>Amount
            <div class="input-group">
              <span class="input-group-label">$</span>
              <input class="input-group-field" type="number" placeholder="Amount">
            </div>
          </label>
        </div>
        <div class="medium-11 columns">
          <label>Probability
            <input type="text" placeholder="Probability">
          </label>
        </div>
        <div class="medium-11 columns">
          <label>Managers
            <input type="text" placeholder="Managers">
          </label>
        </div>
        <div class="medium-11 columns">
          <label>Date
            <input type="date" placeholder="Date">
          </label>
        </div>
        <div>
          <button class="success hollow button" href="#" type="submit">Send Form</button>
        </div>
      </div>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button" onclick="document.getElementById('exampleModal1').className = document.getElementById('exampleModal1').className.replace('popup-active', '');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <br>
  <div class="row">
    <h3>Month 1</h3>
    <table class="hover">
      <thead>
        <tr>
          <th>№</th>
          <th>Name of deal</th>
          <th>Contact</th>
          <th>Organization</th>
          <th>Amount</th>
          <th>Probability</th>
          <th>Real amount</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Lorem.</td>
          <td>In.</td>
          <td>Voluptatibus!</td>
          <td>Eum.</td>
          <td>Illo!</td>
          <td>Sequi.</td>
          <td>Repudiandae?</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Lorem.</td>
          <td>Neque!</td>
          <td>Labore!</td>
          <td>Voluptatum.</td>
          <td>Quasi.</td>
          <td>Libero.</td>
          <td>Nam.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Lorem.</td>
          <td>Exercitationem!</td>
          <td>Aliquam.</td>
          <td>Minima.</td>
          <td>Aspernatur!</td>
          <td>Architecto?</td>
          <td>Dicta.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lorem.</td>
          <td>Omnis.</td>
          <td>Nostrum.</td>
          <td>Placeat?</td>
          <td>Aspernatur.</td>
          <td>Maxime.</td>
          <td>Neque!</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Lorem.</td>
          <td>Eveniet.</td>
          <td>Ipsa.</td>
          <td>Unde.</td>
          <td>Tempore.</td>
          <td>Asperiores.</td>
          <td>Iusto!</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Lorem.</td>
          <td>Harum.</td>
          <td>Blanditiis.</td>
          <td>Deserunt!</td>
          <td>Culpa.</td>
          <td>Saepe.</td>
          <td>Omnis.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h3>Month 2</h3>
    <table class="hover">
      <thead>
        <tr>
          <th>№</th>
          <th>Name of deal</th>
          <th>Contact</th>
          <th>Organization</th>
          <th>Amount</th>
          <th>Probability</th>
          <th>Real amount</th>
          <th>Comments</th>
          <th>Managers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Lorem.</td>
          <td>In.</td>
          <td>Voluptatibus!</td>
          <td>Eum.</td>
          <td>Illo!</td>
          <td>Sequi.</td>
          <td>Repudiandae?</td>
          <td>Repudiandae?</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Lorem.</td>
          <td>Neque!</td>
          <td>Labore!</td>
          <td>Voluptatum.</td>
          <td>Quasi.</td>
          <td>Libero.</td>
          <td>Nam.</td>
          <td>Nam.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Lorem.</td>
          <td>Exercitationem!</td>
          <td>Aliquam.</td>
          <td>Minima.</td>
          <td>Aspernatur!</td>
          <td>Architecto?</td>
          <td>Dicta.</td>
          <td>Dicta.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lorem.</td>
          <td>Omnis.</td>
          <td>Nostrum.</td>
          <td>Placeat?</td>
          <td>Aspernatur.</td>
          <td>Maxime.</td>
          <td>Neque!</td>
          <td>Neque!</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Lorem.</td>
          <td>Eveniet.</td>
          <td>Ipsa.</td>
          <td>Unde.</td>
          <td>Tempore.</td>
          <td>Asperiores.</td>
          <td>Iusto!</td>
          <td>Iusto!</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Lorem.</td>
          <td>Harum.</td>
          <td>Blanditiis.</td>
          <td>Deserunt!</td>
          <td>Culpa.</td>
          <td>Saepe.</td>
          <td>Omnis.</td>
          <td>Omnis.</td>
        </tr>
      </tbody>
    </table>
  </div>